body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

/* containerクラスのCSSを指定してください */

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

/* top-wrapperクラスのCSSを指定してください */
.top-wrapper {
  padding: 210px 0 250px 0;
  background-image: url("IMG.jpg");
  background-size: cover;
  color: #FFFFCC;
  opacity:0.8;
}
